tools/manifest_tools/schemas/pcd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" vc:minVersion="1.1">

    <xs:include schemaLocation="common.xsd"/>

    <!-- Root element for Platform Configuration Data -->
    <xs:element name="PCD">
        <xs:alternative type="PCD" test="not(@empty) or @empty = false()"/>
        <xs:alternative type="PCDEmpty" test="@empty = true()"/>
    </xs:element>

    <!-- Simple type definitions -->

    <xs:simpleType name="RoTType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PA-RoT"/>
            <xs:enumeration value="AC-RoT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ResetCtrlType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Notify"/>
            <xs:enumeration value="Reset"/>
            <xs:enumeration value="Pulse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FlashModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Single"/>
            <xs:enumeration value="Dual"/>
            <xs:enumeration value="SingleFilteredBypass"/>
            <xs:enumeration value="DualFilteredBypass"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Passive"/>
            <xs:enumeration value="Active"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EnabledDisabledType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Enabled"/>
            <xs:enumeration value="Disabled"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HostResetActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="ResetFlash"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="I2CModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MultiMaster"/>
            <xs:enumeration value="MasterSlave"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConnectionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Direct"/>
            <xs:enumeration value="MCTPBridge"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PortId">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="RoT">
        <xs:sequence>
            <xs:element name="Ports" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Collection of ports an external RoT protects.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Port" type="RoTPort" maxOccurs="255"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Interface" type="RoTInterface">
                <xs:annotation>
                    <xs:documentation>Communication interface to the RoT.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="RoTType" use="required">
            <xs:annotation>
                <xs:documentation>RoT type identifier.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mctp_ctrl_timeout" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>MCTP control protocol response timeout period in milliseconds.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mctp_bridge_get_table_wait" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Duration in milliseconds to wait after RoT boots before sending a MCTP Get Routing Table Request to MCTP bridge, 
                if MCTP bridge does not support dynamic EID assignments. If set to 0, RoT will only wait for EID assignment.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RoTPort">
        <xs:annotation>
            <xs:documentation>A single protected port.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="SPIFreq" type="xs:unsignedInt">
                <xs:annotation>
                    <xs:documentation>SPI flash frequency in Hz.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResetCtrl" type="ResetCtrlType">
                <xs:annotation>
                    <xs:documentation>Reset control setting when validation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FlashMode" type="FlashModeType">
                <xs:annotation>
                    <xs:documentation>Flash configuration for the protected device.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Policy" type="PolicyType">
                <xs:annotation>
                    <xs:documentation>Attestation policy.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PulseInterval" type="xs:unsignedByte">
                <xs:annotation>
                    <xs:documentation>Reset pulse width if the port uses a pulsed reset.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RuntimeVerification" type="EnabledDisabledType">
                <xs:annotation>
                    <xs:documentation>Port run-time verification setting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WatchdogMonitoring" type="EnabledDisabledType">
                <xs:annotation>
                    <xs:documentation>Port watchdog monitoring setting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HostResetAction" type="HostResetActionType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="id" type="PortId" use="required">
            <xs:annotation>
                <xs:documentation>Integer identifier for the port.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RoTInterface">
        <xs:all>
            <xs:element name="Address" type="HexByte">
                <xs:annotation>
                    <xs:documentation>7-bit I2C address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RoTEID" type="HexByte">
                <xs:annotation>
                    <xs:documentation>Default MCTP EID of the root of trust.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BridgeEID" type="HexByte">
                <xs:annotation>
                    <xs:documentation>MCTP bridge EID.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BridgeAddress" type="HexByte">
                <xs:annotation>
                    <xs:documentation>MCTP bridge 7-bit I2C address.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attribute name="type" type="InterfaceType" use="required"/>
    </xs:complexType>

    <xs:complexType name="InterfaceMux">
        <xs:annotation>
            <xs:documentation>A single I2C mux.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="Address" type="HexByte">
                <xs:annotation>
                    <xs:documentation>7-bit I2C address of the mux.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Channel" type="xs:unsignedByte">
                <xs:annotation>
                    <xs:documentation>Channel to activate on mux.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
        <xs:attribute name="level" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>The mux level in the I2C path. 0 if the first mux, 1 is second, etc.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="InterfaceType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="I2C"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Interface">
        <xs:all>
            <xs:element name="Bus" type="xs:unsignedByte">
                <xs:annotation>
                    <xs:documentation>Identifier for the I2C bus the device is on.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EID" type="HexByte">
                <xs:annotation>
                    <xs:documentation>Device MCTP EID.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="HexByte">
                <xs:annotation>
                    <xs:documentation>7-bit I2C address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="I2CMode" type="I2CModeType">
                <xs:annotation>
                    <xs:documentation>I2C communication mode.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Muxes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A series of I2C muxes connected to a device.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Mux" type="InterfaceMux" minOccurs="0" maxOccurs="16"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="type" type="InterfaceType" use="required"/>
    </xs:complexType>

    <xs:complexType name="Component">
        <xs:annotation>
            <xs:documentation>A single component's attestation information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Policy" type="PolicyType"/>
            <xs:choice>
                <xs:element name="Interface" type="Interface"/>
                <xs:sequence>
                    <xs:element name="DeviceID" type="HexInteger16">
                        <xs:annotation>
                            <xs:documentation>Device ID. See the device discovery description.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VendorID" type="HexInteger16">
                        <xs:annotation>
                            <xs:documentation>Vendor ID. See the device discovery description.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SubsystemDeviceID" type="HexInteger16">
                        <xs:annotation>
                            <xs:documentation>Subsystem device ID. See the device discovery description.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SubsystemVendorID" type="HexInteger16">
                        <xs:annotation>
                            <xs:documentation>Subsystem vendor ID. See the device discovery description.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EID" type="HexByte">
                        <xs:annotation>
                            <xs:documentation>Device MCTP EID.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
            <xs:element name="PwrCtrl" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Component power control information.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Register" type="HexByte">
                            <xs:annotation>
                                <xs:documentation>Power control register address.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Mask" type="HexByte">
                            <xs:annotation>
                                <xs:documentation>Power control bitmask.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="connection" type="ConnectionType" use="required">
            <xs:annotation>
                <xs:documentation>Component connection type.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="count" type="xs:unsignedByte">
            <xs:annotation>
                <xs:documentation>Number of identical components this element describes.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attestation_success_retry" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Duration in milliseconds after device succeeds attestation to wait before reattesting.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attestation_fail_retry" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Duration in milliseconds after device fails attestation to wait before reattesting.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="discovery_fail_retry" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Duration in milliseconds after device fails a discovery step to wait before retrying.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mctp_bridge_additional_timeout" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Time in milliseconds to wait in addition to device timeout period due to MCTP bridge.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attestation_rsp_not_ready_max_retry" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Maximum number of SPDM ResponseNotReady retries permitted for the device.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="attestation_rsp_not_ready_max_duration" type="xs:unsignedInt">
            <xs:annotation>
                <xs:documentation>Maximum wait time between retries after receiving an SPDM ResponseNotReady error.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="PCDBase">
        <xs:attribute name="sku" type="PlatformIdSKU" use="required">
            <xs:annotation>
                <xs:documentation>String identifier for the platform configuration. This becomes the platform ID.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="HexInteger" use="required"/>
        <xs:attribute name="empty" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="PCDEmpty">
        <xs:complexContent mixed="true">
            <xs:extension base="PCDBase"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PCD">
        <xs:complexContent>
            <xs:extension base="PCDBase">
                <xs:sequence>
                    <xs:element name="RoT" type="RoT"/>
                    <xs:element name="PowerController" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Interface" type="Interface"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Components" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Collection of components to attest.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Component" type="Component" minOccurs="0" maxOccurs="255"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


</xs:schema>
